.container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h2 {
    color: #9e9e9e;
    /* border: 1px solid red; */
  }

  .container-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid red; */
    gap: 10px;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 200px;
      gap: 10px;

      &:nth-child(1) .card:hover {
        background: rgba(158, 38, 38, 0.863);
      }

      &:nth-child(2) .card:hover {
        background: rgba(19, 131, 19, 0.699);
      }

      &:nth-child(3) .card:hover {
        background: rgba(20, 20, 141, 0.849);
      }

      .card {
        background: #636363;
        padding: 15px 20px;
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;

        p {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        svg {
          display: block;
          width: 40px;
          height: 40px;
          flex-shrink: 0;
        }
      }
    }
  }
}
