header {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 10;

  /* &:after {
    content: "";
    display: block;
    background: rgba(49, 49, 49, 0.568);
    width: 100%;
    height: 1px;
  } */

  nav {
    max-width: 60vw;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background: transparent;

    h1 a {
      font-size: 1.75rem;
      padding: 10px;
    }

    input {
      padding: 10px;
      border-radius: 20px;
      border: none;
      width: 20%;
      background: #cccccc54;
      color: #fff;

      &:focus {
        outline: none;
      }
    }

    ul {
      display: flex;
      gap: 20px;
      font-weight: 500;

      li {
        font-weight: 600;
        cursor: pointer;
        padding: 10px;

        &:hover {
          color: #d8d8d8;
        }
      }
    }
  }
}
