.movie {
  
  /* border: 1px solid red; */
  width: 60vw;
  margin: 10rem auto;
  display: flex;
  gap: 20px;

  .movie-infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .movie-sinopse {
    font-size: 1.15rem;
    max-width: 50ch;
  }

  h2 {
    font-size: 2.5rem;
  }

  img {
    width: 350px;
    border-radius: 4px;
  }
}
